:root {
  --dark-gray: #262626;
  --dark-blue: #257be5;
}

.mainCategory {
  background-color: var(--dark-gray);
  padding: 2rem;
}

.categoryContainer {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categoryTitle {
  background-color: #6bd1ff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  font-weight: 600;
  width: fit-content;
}

.videoContrainer {
  background-color: #030303;
  width: 29%;
  /*padding: 0.5rem;*/
  border-radius: 1rem;
  /*border-color: #257be5;*/
  border-style: solid;
  border-width: 0.25rem;
  height: fit-content;
}
.videoContrainer img {
  width: 100%;
  border-radius: 1rem;
}
.videoTitle {
  font-size: 1rem;
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.videoManager {
  border-color: #257be5;
  border-style: solid;
  border-width: 0.25rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 0;
  margin: 0;
}
.videoButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.videoButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
.videoButton:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 640px) {
  .mainCategory {
    padding: 1rem;
  }
  .categoryContainer {
    display: flex;
    flex-direction: column;
  }
  .videoContrainer {
    width: clamp(8rem, 100%, 100%);
  }
  .videoTitle {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 320px) {
  .mainCategory {
    padding: 0.25rem;
  }
  .categoryContainer {
    gap: 1rem;
  }
}

@media screen and (max-width: 260px) {
  .categoryTitle {
    padding: 0.5rem 0.5rem;
    font-size: 1.25rem;
    width: fit-content;
  }
}

/* Modal de edición */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #191919;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  position: relative;
  max-height: 80%; /* Limita la altura máxima del modal */
  overflow-y: auto; /* Muestra la barra de desplazamiento vertical cuando el contenido es mayor que el área visible */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  background-color: #257be5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo de la X */
.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #ff0000;
  cursor: pointer;
}

.closeModal:hover {
  color: #ff0000;
}
