:root {
  --header: url("./assets/background.png");
}

.header {
  background-image: var(--header);
  background-size: cover;
}

.headerContainer {
  background-color: #0012338f;
  height: 100vh;
  display: flex;
  align-items: center;
}

.categoryFrontEnd {
  background-color: #6bd1ff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  font-weight: 600;
  width: fit-content;
}

.headerTitle {
  color: #fff;
}

.headerDescription {
  color: #fff;
  width: 60%;
}

.headerSubContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

@media screen and (max-width: 540px) {
  .headerDescription {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .headerContainer {
    height: fit-content;
  }
  .headerDescription {
    width: 100%;
  }
}

@media screen and (max-width: 260px) {
  .headerSubContainer {
    margin: 0.75rem;
  }

  .categoryFrontEnd {
    padding: 0.5rem 0.5rem;
    font-size: 1.25rem;
    width: fit-content;
  }

  .headerTitle {
    font-size: 1.5rem;
  }
}
