:root {
  --dark-gray: #262626;
  --dark-blue: #257be5;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: var(--dark-gray);
  display: flex;
}

.navbarLogo {
  margin: 1rem;
  width: 10rem;
}

.navbarButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 1rem;
  margin: 1rem;
}

.navbarButtonHome {
  background-color: #040404;
  color: #fff;
  border-color: white;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
.navbarButtonHome:hover {
  background-color: var(--dark-gray);
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  cursor: pointer;
}

.navbarButtonNewVideo,
.navbarButtonNewVideo:hover {
  background-color: #040404;
  color: #fff;
  border-color: white;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.navbarButtonNewVideo:hover,
.navbarButtonNewVideo:active {
  background-color: var(--dark-gray);
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

@media screen and (max-width: 360px) {
  .navbar,
  .navbarButtons {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 200px) {
  .navbarLogo {
    width: 90%;
  }
}
