:root {
  --dark-gray: #262626;
  --dark-blue: #257be5;
  --black: #000000;
}

.footer {
  background-color: var(--black);
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  border-color: var(--dark-blue);
  border-style: solid;
  border-width: 0.25rem;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
